body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:-26px;
  width:645.83544921875px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:69px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:150px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:254px;
  width:472px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:327px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:411px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:411px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:490px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:622px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:702px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:327px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:69px;
  width:134px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:89px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:490px;
  width:135px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:89px;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:126px;
  width:135px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:411px;
  width:214px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u2979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:387px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:110px;
  width:0px;
  height:0px;
}
#u2981_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:21px;
}
#u2981_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:1px;
  width:20px;
  height:20px;
}
#u2981_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:215px;
  width:0px;
  height:0px;
}
#u2982_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:44px;
}
#u2982_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u2982_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:110px;
  width:0px;
  height:0px;
}
#u2983_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:149px;
}
#u2983_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:129px;
  width:20px;
  height:20px;
}
#u2983_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:64px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:299px;
  width:0px;
  height:0px;
}
#u2984_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u2984_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u2984_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:293px;
  width:0px;
  height:0px;
}
#u2985_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u2985_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u2985_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:171px;
  width:0px;
  height:0px;
}
#u2986_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u2986_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2986_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:368px;
  width:0px;
  height:0px;
}
#u2987_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u2987_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:27px;
  width:120px;
  height:10px;
}
#u2987_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:27px;
  width:10px;
  height:16px;
}
#u2987_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:28px;
  width:20px;
  height:20px;
}
#u2987_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:432px;
  width:0px;
  height:0px;
}
#u2988_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:91px;
  height:10px;
}
#u2988_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2988_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:368px;
  width:0px;
  height:0px;
}
#u2989_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u2989_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:27px;
  width:120px;
  height:10px;
}
#u2989_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:27px;
  width:10px;
  height:16px;
}
#u2989_seg3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:20px;
  height:20px;
}
#u2989_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:452px;
  width:0px;
  height:0px;
}
#u2990_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u2990_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:452px;
  width:0px;
  height:0px;
}
#u2991_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u2991_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:579px;
  width:0px;
  height:0px;
}
#u2992_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u2992_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:663px;
  width:0px;
  height:0px;
}
#u2993_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:44px;
}
#u2993_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u2993_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:535px;
  width:0px;
  height:0px;
}
#u2994_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:31px;
  height:10px;
}
#u2994_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-5px;
  width:10px;
  height:198px;
}
#u2994_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:31px;
  height:10px;
}
#u2994_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:178px;
  width:20px;
  height:20px;
}
#u2994_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:26px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
