body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:-37px;
  width:873px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:772px;
  background:inherit;
  background-color:rgba(213, 213, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B5B5B5;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:64px;
  width:429px;
  height:772px;
  display:flex;
  color:#B5B5B5;
}
#u3010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:772px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B5B5B5;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:64px;
  width:423px;
  height:772px;
  display:flex;
  color:#B5B5B5;
}
#u3011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#979797;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:75px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#979797;
}
#u3012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#979797;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:75px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#979797;
}
#u3013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:123px;
  width:70px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:123px;
  width:70px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:653px;
  width:129px;
  height:77px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:653px;
  width:130px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:229px;
  width:180px;
  height:49px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:756px;
  width:180px;
  height:49px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:409px;
  width:133px;
  height:74px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:409px;
  width:133px;
  height:74px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:89px;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:518px;
  width:135px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:89px;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:518px;
  width:135px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:89px;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:295px;
  width:135px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:447px;
  width:233px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u3025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:423px;
  width:155px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:607px;
  width:0px;
  height:0px;
}
#u3027_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u3027_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u3027_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:518px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3028_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-269px;
  width:10px;
  height:269px;
}
#u3028_seg1 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:-269px;
  width:479px;
  height:10px;
}
#u3028_seg2 {
  border-width:0px;
  position:absolute;
  left:-479px;
  top:-274px;
  width:20px;
  height:20px;
}
#u3028_text {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:-273px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:607px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3029_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u3029_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u3029_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:563px;
  width:0px;
  height:0px;
}
#u3030_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:59px;
  height:10px;
}
#u3030_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3030_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:730px;
  width:0px;
  height:0px;
}
#u3031_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:15px;
}
#u3031_seg1 {
  border-width:0px;
  position:absolute;
  left:-380px;
  top:5px;
  width:385px;
  height:10px;
}
#u3031_seg2 {
  border-width:0px;
  position:absolute;
  left:-380px;
  top:5px;
  width:10px;
  height:21px;
}
#u3031_seg3 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:11px;
  width:20px;
  height:20px;
}
#u3031_text {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:446px;
  width:0px;
  height:0px;
}
#u3032_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-5px;
  width:23px;
  height:10px;
}
#u3032_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-197px;
  width:10px;
  height:202px;
}
#u3032_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-197px;
  width:107px;
  height:10px;
}
#u3032_seg3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-202px;
  width:20px;
  height:20px;
}
#u3032_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-146px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3033_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:72px;
  height:10px;
}
#u3033_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-287px;
  width:10px;
  height:292px;
}
#u3033_seg2 {
  border-width:0px;
  position:absolute;
  left:-336px;
  top:-287px;
  width:408px;
  height:10px;
}
#u3033_seg3 {
  border-width:0px;
  position:absolute;
  left:-341px;
  top:-292px;
  width:20px;
  height:20px;
}
#u3033_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-291px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:198px;
  width:0px;
  height:0px;
}
#u3034_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u3034_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:10px;
  width:50px;
  height:10px;
}
#u3034_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:10px;
  height:21px;
}
#u3034_seg3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:16px;
  width:20px;
  height:20px;
}
#u3034_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:198px;
  width:0px;
  height:0px;
}
#u3035_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u3035_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:10px;
  width:52px;
  height:10px;
}
#u3035_seg2 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:10px;
  width:10px;
  height:21px;
}
#u3035_seg3 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:16px;
  width:20px;
  height:20px;
}
#u3035_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:278px;
  width:0px;
  height:0px;
}
#u3036_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u3036_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:2px;
  width:20px;
  height:20px;
}
#u3036_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:340px;
  width:0px;
  height:0px;
}
#u3037_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-5px;
  width:44px;
  height:10px;
}
#u3037_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-5px;
  width:10px;
  height:74px;
}
#u3037_seg2 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:54px;
  width:20px;
  height:20px;
}
#u3037_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:340px;
  width:0px;
  height:0px;
}
#u3038_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u3038_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:10px;
  height:74px;
}
#u3038_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:54px;
  width:20px;
  height:20px;
}
#u3038_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:483px;
  width:0px;
  height:0px;
}
#u3039_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u3039_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:75px;
  width:198px;
  height:10px;
}
#u3039_seg2 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:70px;
  width:20px;
  height:20px;
}
#u3039_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:20px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
